$size: 200px;
$space: 20px;
$color: #f00;
$font-stack: Helvetica, Roboto, Arial;
$border-size: 4px;
$petals: 5;
$rotate: 45deg;

// * Container styles */
.container {
  width: $size;
  height: $size;
  border: $border-size solid;
  position: relative;
}

/* Style all of the child divs */
/* These styles shared by all children */
.container > div {
  position: absolute;
  border-radius: 0 70% 40% 70%;
  border: $border-size solid;
  width: $size - 80;
  height: $size - 80;
  /* Position these in the center */
  left: $space /2;
  top: ($space *2) + ($space /2);
  /* Rotate 45 deg points the point at the top */
  transform: rotate($rotate);
  /* Move the point of transformation to the lower right */
  transform-origin: 90px 90px;
  animation-duration: 6000ms;
  animation-iteration-count: 1;
  /* Important! Without this the elements will snap
  to their starting positions when the animation ends! */
  animation-fill-mode: forwards;
}

/* These styles apply to individual children */

//individual petal color
// @for $i from 1 through $petals {
//   $hue: 360 / $petals * $i;
//   .bloom-#{$i} { 
//     background-color: hsla($hue, 100%, 50%, 0.21)
//     }
//   }

.container > div:nth-child(1) {
  animation-name: bloom-1;
  background-color: hsla(0, 100%, 50%, 0.21);
}

.container > div:nth-child(2) {
  animation-name: bloom-2;
  background-color: hsla(60, 100%, 50%, 0.21);
}

//middle stationary petal
.container > div:nth-child(3) {
  // animation-name: bloom-3;
  background-color: hsla(120, 100%, 50%, 0.21);
}

.container > div:nth-child(4) {
  animation-name: bloom-4;
  background-color: hsla(180, 100%, 50%, 0.21);
}

.container > div:nth-child(5) {
  animation-name: bloom-5;
  background-color: hsla(240, 100%, 50%, 0.21);
}

//individual petal movement

@for $i from 1 through 5 {
  @if $i != 3 {
    @keyframes bloom-#{$i} {
      0% { transform: rotate($rotate); }
    }
  }
  
}

@keyframes bloom-1 {
  // 0% { transform: rotate($rotate); }
  100% { transform: rotate($rotate * -1); }
}

@keyframes bloom-2 {
  // 0% { transform: rotate($rotate); }
  100% { transform: rotate($rotate * 3); }
}

@keyframes bloom-4 {
  // 0% { transform: rotate($rotate); }
  100% { transform: rotate($rotate * 0); }
}

@keyframes bloom-5 {
  // 0% { transform: rotate($rotate); }
  100% { transform: rotate($rotate * 2); }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html {
  height: 100%;
}
